$background_color: #f4f9fd;
$background_warna: #86a9d1;
$warna: #a3c2e2;
$color: #333;
$darker_shadow: #4e6379;
$shadowa-color: rgba(0, 0, 0, 0.1);

nav {
    display: flex;
    justify-content: center;
    background-color: $warna;
    padding: 10px;
}

nav a {
    color: $background_color;
    padding: 12px 20px;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.1em;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: $darker_shadow;
}